as==0.1
certifi==2020.4.5.1
chardet==3.0.4
emoji==0.5.4
idna==2.9
mojimoji==0.0.11
neologdn==0.4
numpy==1.18.4
oauthlib==3.1.0
pandas==1.0.3
pd==0.0.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
tweepy==3.8.0
urllib3==1.25.9
